{% extends 'layout.html' %}}

{% block content %}
    <div class="listBox">
        <h1>{{content.title}}</h1>
        <p class="colDefault">
            作者：<span class="colInfo">{{content.user.username}}</span> -
            时间：<span class="colInfo">{{content.addTime |date('Y年m月d日 H:i:s',-8*60)}}</span> -
            阅读：<span class="colInfo">{{content.views}}</span> -
            评论：<span class="colInfo">{{content.comments.length}}</span> -
        </p>
        <dfn>
            {{content.content}}
        </dfn>
    </div>

    <div class="listBox message">
        <h3 class="textLeft"><strong>评论</strong> <span class="em" style="float: right; font-size: 13px;">一共有 <em id="messageCount" style="font-weight: bold;">0</em>条评论</span></h3>
        {% if userInfo._id %}
            <p class="textLeft clear">

                <textarea name="" style="vertical-align: bottom; " id="messageContent" rows = "2" cols = "70" ></textarea>
                <input type="hidden" id="contentId" value="{{content._id.toString()}}">
                <button id="messageBtn" class="submit btn btn-default">提交</button>
            </p>
        {% else %}
            <p class="bgDanger" style="line-height: 30px;">你还没登录，请先登录！</p>
        {% endif %}

        <div class="messageList">

        </div>

        <div class="pager">
            <ul class="clear">
                <li class="previous">
                    <a id="last" href="javascript:;">上一页</a>
                </li>
                <li></li>
                <li class="next">
                    <a id="next" href="javascript:;">下一页</a>
                </li>
            </ul>
        </div>
        <!--<div class="messageList">-->
            <!--<div class="messageBox">-->
                <!--<p class="name clear"><span class="fl"></span><span class="fr"></span></p>-->
                <!--<p></p>-->
            <!--</div>-->
        <!--</div>-->
    </div>

<script src="/public/js/comment.js"></script>
{% endblock %}}